/*External CSS*/
      body
      {
        background-color:#d6dcdc;
      }
      
      h1{
        color: #2A0944;
      }
      h2{
        color: #2B4865;
      }
      h3{
        color: #554994;
      }
      hr{
        background-color: white;
        border-style: none;
         border-top-style: dotted;
         width: 5%;
        border-width: 5px;
        border-color: grey;
       }
      